
<div *ngIf="product">
    <h2><span>Product</span> {{product.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{product.name}}</span>
        </dd>
        <dt><span>Disco</span></dt>
        <dd>
            <div *ngIf="product.disco">
                <a [routerLink]="['/disco', product.disco?.id]">{{product.disco?.id}}</a>
            </div>
        </dd>
        <dt><span>Bar</span></dt>
        <dd>
            <div *ngIf="product.bar">
                <a [routerLink]="['/bar', product.bar?.id]">{{product.bar?.id}}</a>
            </div>
        </dd>
        <dt><span>Activity</span></dt>
        <dd>
            <div *ngIf="product.activity">
                <a [routerLink]="['/activity', product.activity?.id]">{{product.activity?.id}}</a>
            </div>
        </dd>
        <dt><span>Supplier</span></dt>
        <dd>
            <div *ngIf="product.supplier">
                <a [routerLink]="['/supplier', product.supplier?.id]">{{product.supplier?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'product/'+ product.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
